# Android / Gradle
*.iml
.gradle/
local.properties
**/local.properties
.idea/
build/
**/build/
captures/
.externalNativeBuild/
.cxx/

# Environment files
.env
.env.*
!.env.example
**/properties.env

# Sistema
.DS_Store
Thumbs.db
